input {
    padding: 20px 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    display: block;
    width: 295px;
    font-size: 14px;
}
input:focus, input:hover {
    outline: none;
}
input:hover {
    outline: none;
}

input::-webkit-input-placeholder {
    color: rgba(0,0,0,.3);
}
input::-moz-placeholder          {
    color:rgba(0,0,0,.3);
}/* Firefox 19+ */
input:-moz-placeholder           {
    color:rgba(0,0,0,.3);
}/* Firefox 18- */
input:-ms-input-placeholder      {
    color:rgba(0,0,0,.3);
}

