@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
body {
    padding: 0;
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}
div {
    box-sizing: border-box;
}
.container {
    width: 935px;
    margin: 0 auto;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}
.page {
    display: flex;
    position: relative;
    margin-top: 60px;
}
.page_left {
    height: 600px;
    width: 600px;
    background: url(https://i.ibb.co/kJqNJ3Z/post.png) no-repeat center left;
}
input {
    padding: 20px 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    display: block;
    width: 295px;
    font-size: 14px;
}
input:focus, input:hover {
    outline: none;
}
input:hover {
    outline: none;
}

input::-webkit-input-placeholder {
    color: rgba(0,0,0,.3);
}
input::-moz-placeholder          {
    color:rgba(0,0,0,.3);
}/* Firefox 19+ */
input:-moz-placeholder           {
    color:rgba(0,0,0,.3);
}/* Firefox 18- */
input:-ms-input-placeholder      {
    color:rgba(0,0,0,.3);
}

.page_block {
    width: 335px;
}

.page_name {
    margin-left: 10px;
}
h4 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
}
p {
    font-size: 12px;
    color: #777;
}
.page_block {
    padding: 20px;
}
.page_footer {
    position: absolute;
    bottom: 0;
}

